{%load static%}
{% block content %}

<!--
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Get all elements with the class "dropdown-toggle"
        var dropdownToggleElements = document.querySelectorAll('.dropdown-toggle');
        
        // Attach a click event listener to each dropdown-toggle element
        dropdownToggleElements.forEach(function(dropdownToggleElement) {
            dropdownToggleElement.addEventListener('click', function() {
                // Find the associated dropdown menu
                var dropdownMenu = this.nextElementSibling;
                
                // Toggle the dropdown menu's visibility by toggling the "show" class
                if (dropdownMenu.classList.contains('show')) {
                    dropdownMenu.classList.remove('show');
                } else {
                    dropdownMenu.classList.add('show');
                }
            });
        });

        // Get all elements with the class "dropdown-item" inside the dropdown menu
        var dropdownItems = document.querySelectorAll('.dropdown-item');
        
        // Attach a click event listener to each dropdown-item element
        dropdownItems.forEach(function(dropdownItem) {
            dropdownItem.addEventListener('click', function() {
                // Get the supermarket value from the alt attribute of the clicked image
                var supermarket = this.querySelector('img').getAttribute('alt');
                
                // Call the selectSupermarket function with the selected supermarket as an argument
                selectSupermarket(supermarket);
            });
        });
    });
</script>
<script>
    function selectSupermarket(supermarket) {
        const currentURL = new URL(window.location.href);
    
        // Update the URL with the selected supermarket
        if (supermarket) {
            currentURL.searchParams.set('supermarket', supermarket);
        } else {
            currentURL.searchParams.delete('supermarket');
        }
    
        window.location.href = currentURL.toString();
    }
</script>-->

<script>
    // Function to change the dropdown button image
    function changeDropdownImage(imageSrc) {
        var dropdownButton = document.querySelector('.dropdown-button');
        dropdownButton.src = imageSrc;
        
        // Store the selected image source in localStorage
        localStorage.setItem('selectedSupermarketImage', imageSrc);
    }

    // Function to retrieve the selected image source from localStorage
    function getSelectedSupermarketImage() {
        return localStorage.getItem('selectedSupermarketImage');
    }

    // Attach a click event listener to the image
    document.querySelector('.dropdown-button').addEventListener('click', function () {
        // Find the associated dropdown menu
        var dropdownMenu = document.querySelector('.dropdown-menu');
        
        // Toggle the dropdown menu's visibility by toggling the "show" class
        if (dropdownMenu.classList.contains('show')) {
            dropdownMenu.classList.remove('show');
        } else {
            dropdownMenu.classList.add('show');
        }
    });

    function selectSupermarket(supermarket) {
        // Change the dropdown button image based on the selected supermarket
        if (supermarket === 'Puregold') {
            changeDropdownImage("{% static 'icons/puregold_horizontal.png' %}");
        } else if (supermarket === 'ShopMetro') {
            changeDropdownImage("{% static 'icons/shopmetro_horizontal.png' %}");
        } else if (supermarket === 'WalterMart') {
            changeDropdownImage("{% static 'icons/waltermart_horizontal.png' %}");
        }

        const currentURL = new URL(window.location.href);
    
        // Update the URL with the selected supermarket
        if (supermarket) {
            currentURL.searchParams.set('supermarket', supermarket);
        } else {
            currentURL.searchParams.delete('supermarket');
        }
    
        window.location.href = currentURL.toString();
    }

    // Check if a selected supermarket image is stored in localStorage and set it
    var storedImage = getSelectedSupermarketImage();
    if (storedImage) {
        changeDropdownImage(storedImage);
    }
</script>
<script src="{% static 'js/vendor/modernizr-3.6.0.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/plugins/slick.js' %}"></script>
<script src="{% static 'js/plugins/jquery.syotimer.min.js' %}"></script>
<script src="{% static 'js/plugins/wow.js' %}"></script>
<script src="{% static 'js/plugins/jquery-ui.js' %}"></script>
<script src="{% static 'js/plugins/perfect-scrollbar.js' %}"></script>
<script src="{% static 'js/plugins/magnific-popup.js' %}"></script>
<script src="{% static 'js/plugins/select2.min.js' %}"></script>
<script src="{% static 'js/plugins/waypoints.js' %}"></script>
<script src="{% static 'js/plugins/counterup.js' %}"></script>
<script src="{% static 'js/plugins/jquery.countdown.min.js' %}"></script>
<script src="{% static 'js/plugins/images-loaded.js' %}"></script>
<script src="{% static 'js/plugins/isotope.js' %}"></script>
<script src="{% static 'js/plugins/scrollup.js' %}"></script>
<script src="{% static 'js/plugins/jquery.vticker-min.js' %}"></script>
<script src="{% static 'js/plugins/jquery.theia.sticky.js' %}"></script>
<script src="{% static 'js/plugins/jquery.elevatezoom.js' %}"></script>

<!-- Template JS -->
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/shop.js' %}"></script>
{% endblock %}
